
.block-ref {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: 10;
    overflow: hidden;
    background-color: #E2E2E2;
  }
  
  .white-block, .purple-block {
    position: absolute;
    width: 100%;
  }
  
  .white-block {
    background-color: #E2E2E2;
 
  }
  
  .purple-block {
    background-color: #36157f;
  
  }
  